<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianfeng.smsplatform.webmaster.dao.TInstMapper">
    <resultMap id="BaseResultMap" type="com.qianfeng.smsplatform.webmaster.pojo.TInst">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="instid" jdbcType="VARCHAR" property="instid"/>
        <result column="areaName" jdbcType="VARCHAR" property="areaname"/>
        <result column="parentId" jdbcType="BIGINT" property="parentid"/>
        <result column="region" jdbcType="VARCHAR" property="region"/>
        <result column="level" jdbcType="VARCHAR" property="level"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, instid, areaName, parentId, region, level
    </sql>
    <select id="selectByExample" parameterType="com.qianfeng.smsplatform.webmaster.pojo.TInstExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from t_inst
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_inst
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from t_inst
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="com.qianfeng.smsplatform.webmaster.pojo.TInstExample">
        delete from t_inst
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.qianfeng.smsplatform.webmaster.pojo.TInst">
        insert into t_inst (id, instid, areaName,
        parentId, region, level
        )
        values (#{id,jdbcType=BIGINT}, #{instid,jdbcType=VARCHAR}, #{areaname,jdbcType=VARCHAR},
        #{parentid,jdbcType=BIGINT}, #{region,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.qianfeng.smsplatform.webmaster.pojo.TInst">
        insert into t_inst
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="instid != null">
                instid,
            </if>
            <if test="areaname != null">
                areaName,
            </if>
            <if test="parentid != null">
                parentId,
            </if>
            <if test="region != null">
                region,
            </if>
            <if test="level != null">
                level,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="instid != null">
                #{instid,jdbcType=VARCHAR},
            </if>
            <if test="areaname != null">
                #{areaname,jdbcType=VARCHAR},
            </if>
            <if test="parentid != null">
                #{parentid,jdbcType=BIGINT},
            </if>
            <if test="region != null">
                #{region,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                #{level,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.qianfeng.smsplatform.webmaster.pojo.TInstExample"
            resultType="java.lang.Long">
        select count(*) from t_inst
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update t_inst
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.instid != null">
                instid = #{record.instid,jdbcType=VARCHAR},
            </if>
            <if test="record.areaname != null">
                areaName = #{record.areaname,jdbcType=VARCHAR},
            </if>
            <if test="record.parentid != null">
                parentId = #{record.parentid,jdbcType=BIGINT},
            </if>
            <if test="record.region != null">
                region = #{record.region,jdbcType=VARCHAR},
            </if>
            <if test="record.level != null">
                level = #{record.level,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update t_inst
        set id = #{record.id,jdbcType=BIGINT},
        instid = #{record.instid,jdbcType=VARCHAR},
        areaName = #{record.areaname,jdbcType=VARCHAR},
        parentId = #{record.parentid,jdbcType=BIGINT},
        region = #{record.region,jdbcType=VARCHAR},
        level = #{record.level,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.qianfeng.smsplatform.webmaster.pojo.TInst">
        update t_inst
        <set>
            <if test="instid != null">
                instid = #{instid,jdbcType=VARCHAR},
            </if>
            <if test="areaname != null">
                areaName = #{areaname,jdbcType=VARCHAR},
            </if>
            <if test="parentid != null">
                parentId = #{parentid,jdbcType=BIGINT},
            </if>
            <if test="region != null">
                region = #{region,jdbcType=VARCHAR},
            </if>
            <if test="level != null">
                level = #{level,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.qianfeng.smsplatform.webmaster.pojo.TInst">
        update t_inst
        set instid = #{instid,jdbcType=VARCHAR},
        areaName = #{areaname,jdbcType=VARCHAR},
        parentId = #{parentid,jdbcType=BIGINT},
        region = #{region,jdbcType=VARCHAR},
        level = #{level,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>