<!DOCTYPE html>
<html>
<head>
<title>充值管理</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../public/css/bootstrap.min.css">
<link rel="stylesheet" href="../public/css/font-awesome.min.css">
<link rel="stylesheet" href="../public/plugins/bootstrap-table/bootstrap-table.min.css">
<link rel="stylesheet" href="../public/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../public/css/main.css">
<link rel="stylesheet" href="../public/css/index.css">
</head>
<body>
<div id="dtapp" v-cloak>

    <div v-show="showList">
        <div id="toolbar">
            <button class="btn btn-success " type="button" @click="add">
                <i class="fa fa-plus"></i>&nbsp;&nbsp;<span class="bold">新增</span>
            </button>
        </div>

        <table id="table"></table>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label">所属客户</div>
                <div class="col-sm-10">
                    <select v-model="acount.clientid" name="sites" id="sites">
                        <option v-for="item in sites"  :value="item.id">{{ item.corpname }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">到账金额</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="acount.paidvalue" placeholder="到账金额(单位元)"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>

</div>

<script src="../public/libs/jquery.min.js"></script>
<script src="../public/plugins/layer/layer.js"></script>
<script src="../public/libs/bootstrap.min.js"></script>
<script src="../public/libs/vue.js"></script>
<script src="../public/libs/myindex.js"></script>
<script src="../public/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../public/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="../public/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../public/plugins/ueditor/ueditor.config.js"></script>
<script src="../public/plugins/ueditor/ueditor.all.js"></script>
<script src="../public/plugins/ueditor/ueditor.parse.min.js"></script>
<script src="../public/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
<script src="../public/js/common.js"></script>
<script src="../public/js/acount/acount.js"></script>

</body>
</html>